<div class="item with-sidebar">
  <a class="logo"><span>{{applicationName}}</span></a>

  <nav class="sidebar part-open">
    <header>
      <a class="logo"><span>{{applicationName}}</span></a>
    </header>

    <div class="scroller">
      <ul class="menu">
        {{#each navigationLinkItems as |item|}}
          {{#if item.routeName}}
            <li>
              {{#link-to item.routeName classNameBindings="item.iconClass"}}
                {{item.name}}
              {{/link-to}}
            </li>
          {{else if item.subNav}}
            <li>
              <ul class="submenu">
                {{#each item.subNav as |subNavItem|}}
                  {{#unless subNavItem.hidden}}
                    <li class={{subNavItem.id}}>
                      <a href={{subNavItem.link}} target="_blank">
                        {{subNavItem.name}}
                      </a>
                    </li>
                  {{/unless}}
                {{/each}}
              </ul>
            </li>
          {{/if}}
        {{/each}}

        {{yield}}
      </ul>
    </div>
  </nav>

  {{#if currentUser}}
    <footer>
      <div class="toggle-actions">
        {{#rl-dropdown-container class="dropdown"}}
          {{#rl-dropdown-toggle class="actions"}}{{/rl-dropdown-toggle}}

          {{#rl-dropdown tagName="ul" class="top" closeOnChildClick=true}}
            {{#each actionItems as |actionItem|}}
              <li>
                <a {{action actionItem.name target=actionsTarget}}>
                  {{actionItem.label}}
                </a>
              </li>
            {{/each}}
          {{/rl-dropdown}}
        {{/rl-dropdown-container}}
      </div>

      <div class="picture">
        <img alt="Profile Picture"
          src={{currentUser.avatarUrl}} title={{currentUser.initials}} />
      </div>

      <div class="name">{{currentUser.name}}</div>
    </footer>
  {{/if}}
</div>
